/data
/advancements
/DIM-1
/DIM1
/playerdata
/poi
/region
/stats
/generated
/forcedchunks.dat
/level.dat
/level.dat_old
/mcedit_waypoints.dat
/session.lock
/Skymode4.zip
/datapacks/Skymode4/Skymode4_Data_Pack.zip
