advancements/
data/capabilities.dat
data/Fortress.dat
data/scoreboard.dat
data/villages.dat
data/villages_end.dat
data/villages_nether.dat
DIM-1/
DIM1/
playerdata/
region/
stats/
forcedchunks.dat
level.dat
level.dat_old
mcedit_waypoints.dat
session.lock
